########################################
# Visual Studio
########################################

.vs/
bin/
obj/
TestResults/

########################################
# User-specific
########################################

*.user
*.suo
*.userosscache
*.sln.docstates

########################################
# ASP.NET Core
########################################

appsettings.Development.json
secrets.json

########################################
# React
########################################

# Dependencies
node_modules/
**/node_modules/

# React Build
build/
**/build/

# React Cache
.pnp
.pnp.js

coverage/

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

########################################
# Publish
########################################

publish/

########################################
# Logs
########################################

*.log

########################################
# OS Files
########################################

.DS_Store
Thumbs.db

########################################
# Rider / VS Code
########################################

.idea/
.vscode/

########################################
# Temporary files
########################################

*.tmp
*.temp