<link rel="stylesheet" href="~/css/auth.css" />

@{
    var alertMessage = TempData["AlertMessage"] as string;
}

@if (!string.IsNullOrEmpty(alertMessage))
{
    <script>
        alert('@alertMessage');
    </script>
}

<div class="auth-card">

    <h2>Forgot Password</h2>

    <form method="post">

        <input type="email"
               name="email"
               placeholder="Enter your registered email"
               required />

        <button type="submit">
            Send OTP
        </button>

    </form>

</div>