<link rel="stylesheet" href="~/css/auth.css" />

<div class="auth-card">

    <h2>Reset Password</h2>

    <form method="post">

        <input type="password"
               name="newPassword"
               placeholder="Enter new password"
               required />

        <button type="submit">
            Update Password
        </button>

    </form>

</div>