# Visual Studio
.vs/
bin/
obj/

# User files
*.user
*.suo

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# ASP.NET
appsettings.Development.json
secrets.json

# React
sunilmedical-ui/node_modules/
sunilmedical-ui/build/

# Runtime uploads (keep this if uploads are generated at runtime)
wwwroot/uploads/

# Publish folders
publish/
out/