<h2>Frequently Asked Questions</h2>
<hr />

<p><b>Q:</b> Are products genuine?</p>
<p><b>A:</b> Yes, all products are certified and original.</p>

<p><b>Q:</b> Can I return products?</p>
<p><b>A:</b> Yes as per company return policy.</p>
